body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #f0f0f0; /* Fundo neutro e claro */
    color: #333; /* Texto em cor neutra */
}

.container {
    display: block;
    text-align: center;
    background: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
}

.cards-partidas {
    min-width: 400px !important;
    max-width: 400px !important;
    max-height: 100px !important;
    cursor: pointer;
    background: linear-gradient(0deg, #eee, #ffffff); /* gelo estilizado */
}
.cards-partidas:hover {
    background: linear-gradient(0deg, #b3e5f0, #e1f5fe); /* azul claro */
}


.numero_placar{
    max-width: 60px;
}

.td-content-h {
    height: 100%;
    align-items: center; /* Faz o conteúdo ocupar toda a altura da célula */
    justify-content: center; /* Opcional: centraliza horizontalmente */
}

.img_merda{
    max-width: 35px;
    min-width: 35px;
    width: 35px;
    cursor: pointer;
}