body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #f0f0f0; /* Fundo neutro e claro */
    color: #333; /* Texto em cor neutra */
}

.container {
    display: block;
    text-align: center;
    background: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
}

.cards-partidas {
    min-width: 400px !important;
    max-width: 400px !important;
    max-height: 100px !important;
    cursor: pointer;
    background: linear-gradient(0deg, #eee, #ffffff); /* gelo estilizado */
}
.cards-partidas:hover {
    background: linear-gradient(0deg, #b3e5f0, #e1f5fe); /* azul claro */
}

.cards-jogadores {
    min-width: 400px !important;
    max-width: 400px !important;
    cursor: pointer;
    background: linear-gradient(0deg, #eee, #ffffff); /* gelo estilizado */
}
.cards-jogadores:hover {
    background: linear-gradient(0deg, #b3e5f0, #e1f5fe); /* azul claro */
}

.numero_placar{
    max-width: 60px;
}

.td-content-h {
    height: 100%;
    align-items: center; /* Faz o conteúdo ocupar toda a altura da célula */
    justify-content: center; /* Opcional: centraliza horizontalmente */
}

.img_merda{
    max-width: 35px;
    min-width: 35px;
    width: 35px;
    cursor: pointer;
}
.img_merda_p{
    max-width: 20px;
    min-width: 20px;
    width: 20px;
    max-height: 20px;
    min-height: 20px;
    height: 20px;
}

.btn-gold {
    background-color: #f9d342 !important;
    color: #000 !important;
    border-color: #f1c40f !important;
  }

.vitoria, .derrota, .medalha {
    width: 30px;
    height: 30px;
    background-image: url("img/vitoria.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.derrota{
    background-image: none;
}
.medalha {
    height: 35px;
    background-image: url("img/medalha.png");
}

.jogador{
    line-height: 1.0;
}

.div_cards-conteudo {
    flex: 1; /* ocupa o espaço restante */
    overflow: auto; /* scroll se precisar */
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex-shrink: 0;
    z-index: 1000;
    background-color: #f8f9fa; /* mesma cor do bg-light */
}

#container-partidas, #container-jogadores {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.bt-jogada {
    min-width: 100px;
    max-width: 100px;
    border: 3px dashed gold !important;
}

.bt-rodape-modal {
    min-width: 100px;
}

.btn-orange {
    background-color: #fd7e14 !important;
    color: white;
}

.card-usuario {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.user-img {
    min-width: 100px;
    max-width: 100px;
    height: 100%;
    min-height: 140px;
    background-image: url('img/avatar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-totais {
    font-size: 14px !important;
}

.tabela_dupla_estatisticas{
    max-width: 380px;
}

.tabela-compacta {
      font-size: 0.9rem;
      table-layout: auto;
}
.tabela-compacta th, .tabela-compacta td {
    padding: 0rem;
}
.nome-coluna {
    min-width: 100px;
    max-width: 150px;
    text-align: left;
}

.linha_estatistica_dupla:hover {
    color: #06F;
    text-decoration: underline;
}

.img-rank{
    min-width: 120px;
    max-width: 120px;
    min-height: 160px;
    max-height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  z-index: 999999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 16px;
}

.loading-overlay.hidden {
  display: none;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(255,255,255,0.3);
  border-top: 6px solid #fff;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
  }
}
