--
-- Generated by pg2mysql
--
set foreign_key_checks = off;
DROP DATABASE IF EXISTS jogos;
CREATE DATABASE jogos;
CREATE TABLE jogos.jogador (
    `id` integer NOT NULL,
    `nome` longtext
);
ALTER TABLE jogos.jogador ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
CREATE TABLE jogos.partida (
    `id` integer NOT NULL,
    `data_hora` timestamp,
    `jogador1_id` integer,
    `jogador2_id` integer,
    `jogador3_id` integer,
    `jogador4_id` integer,
    `placar1` integer,
    `placar2` integer,
    `jogadorbct` integer,
    `jogadas` longtext
);
ALTER TABLE jogos.partida ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
CREATE TABLE jogos.partida_sinuca (
    `id` integer  NOT NULL,
    `data_hora` timestamp DEFAULT 0,
    `jogador1_id` integer NOT NULL,
    `jogador2_id` integer NOT NULL,
    `placar1` integer NOT NULL,
    `placar2` integer NOT NULL,
    `jogadorbct` integer,
    CONSTRAINT partida_placar1_sinuca_check CHECK (((placar1 >= 0) AND (placar1 <= 8))),
    CONSTRAINT partida_placar2_sinuca_check CHECK (((placar2 >= 0) AND (placar2 <= 8)))
);
INSERT INTO jogos.jogador VALUES (1, 'Marcos Batista');
INSERT INTO jogos.jogador VALUES (3, 'Raoni (B)');
INSERT INTO jogos.jogador VALUES (4, 'Wellison (Zezo)');
INSERT INTO jogos.partida VALUES (5, '2025-05-26 15:19:00', 1, 11, 6, 12, 0, 5, NULL, NULL);
INSERT INTO jogos.partida VALUES (7, '2025-05-26 15:26:00', 11, 5, 6, 12, 4, 1, NULL, NULL);
INSERT INTO jogos.partida VALUES (107, '2025-06-03 12:22:00', 14, 18, 11, 8, 4, 0, NULL, NULL);
INSERT INTO jogos.partida_sinuca VALUES (71, '2025-06-01 21:22:00', 1, 21, 0, 0, 2);
INSERT INTO jogos.partida_sinuca VALUES (72, '2025-06-01 21:23:00', 1, 21, 1, 0, 2);
INSERT INTO jogos.partida_sinuca VALUES (73, '2025-06-01 21:24:00', 1, 21, 3, 4, NULL);
ALTER TABLE jogos.jogador AUTO_INCREMENT = 44;
ALTER TABLE jogos.partida AUTO_INCREMENT = 3077;
ALTER TABLE jogos.jogador
ADD CONSTRAINT jogador_pkey PRIMARY KEY (`id`);
ALTER TABLE jogos.partida
ADD CONSTRAINT partida_pkey PRIMARY KEY (`id`);
ALTER TABLE jogos.partida_sinuca
ADD CONSTRAINT partida_sinuca_pkey PRIMARY KEY (`id`);
ALTER TABLE jogos.partida
    ADD CONSTRAINT fk_jogador1 FOREIGN KEY (jogador1_id) REFERENCES jogos.jogador(id);
ALTER TABLE jogos.partida
    ADD CONSTRAINT fk_jogador2 FOREIGN KEY (jogador2_id) REFERENCES jogos.jogador(id);
ALTER TABLE jogos.partida
    ADD CONSTRAINT fk_jogador3 FOREIGN KEY (jogador3_id) REFERENCES jogos.jogador(id);
ALTER TABLE jogos.partida
    ADD CONSTRAINT fk_jogador4 FOREIGN KEY (jogador4_id) REFERENCES jogos.jogador(id);
ALTER TABLE jogos.partida_sinuca
    ADD CONSTRAINT fk_partida_sinuca_jogador1 FOREIGN KEY (jogador1_id) REFERENCES jogos.jogador(id);
ALTER TABLE jogos.partida_sinuca
    ADD CONSTRAINT fk_partida_sinuca_jogador2 FOREIGN KEY (jogador2_id) REFERENCES jogos.jogador(id);
ALTER TABLE jogos.partida_sinuca
    ADD CONSTRAINT partida_jogador1_sinuca_id_fkey FOREIGN KEY (jogador1_id) REFERENCES jogos.jogador(id);
ALTER TABLE jogos.partida_sinuca
    ADD CONSTRAINT partida_jogador2_sinuca_id_fkey FOREIGN KEY (jogador2_id) REFERENCES jogos.jogador(id);
